<a href="https://colab.research.google.com/github/rd27995/Kaggle_Competition/blob/Model_2/Customer_Pred.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Import the essentials
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import gc
import os
import logging
import datetime
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
from tqdm import tqdm_notebook
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.decomposition import PCA
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler
warnings.filterwarnings('ignore')

import plotly.plotly as py
from sklearn import metrics
from sklearn.preprocessing import StandardScaler

In [0]:
##Read the data

train_data = pd.read_csv('train.csv')
test_data=pd.read_csv('test.csv')

In [8]:
## Get the shape
train_data.shape

(200000, 202)

In [16]:
##Take a glimpse
X.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,5.7470,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,3.1468,8.0851,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,5.9525,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,8.2450,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,6.2654,7.6784,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [0]:
train_data = train_data.loc[:, train_data.columns != 'ID_code']
custimer = test_data.loc[:, test_data.columns != 'ID_code']

In [0]:
X = train_data.loc[:, train_data.columns != 'target']
y = train_data.iloc[:,0]

In [0]:
customers_w= custimer.loc[:, custimer.columns != 'ID_code']

In [34]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

In [0]:
#build a basic logit model

from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20,random_state=123)

In [36]:
X_train.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
125714,11.4791,0.4721,11.6491,2.8147,11.9129,-3.5222,4.7829,21.0751,3.0464,7.3589,...,-3.5621,9.3558,-0.9132,1.3818,17.7582,-0.6620,4.5177,9.7471,14.1922,-3.8321
149585,9.9893,4.9190,17.1635,5.6806,11.0406,-11.3340,6.0441,17.5113,-4.3194,7.6422,...,1.3875,7.8681,4.9082,1.5909,17.8250,1.0812,7.2966,8.4768,15.4487,-2.1618
27244,12.8085,-2.6705,5.9245,5.9104,11.4729,-13.1428,5.2582,16.0739,2.3920,9.3071,...,5.3411,2.4666,1.6046,4.8630,17.6553,-2.2474,11.1551,8.6029,15.2536,-8.0695
136859,7.0864,1.4003,11.2668,7.9028,9.4605,-17.3608,4.9076,25.6480,2.3065,9.0890,...,2.1096,9.0320,0.7102,1.2167,16.6201,1.1312,4.6771,7.7211,17.8585,-19.2296
154257,11.9604,-2.0534,17.9088,9.6810,12.4646,-10.5527,4.1052,19.9041,-0.5836,7.1742,...,6.2539,3.0084,4.7971,7.8370,20.2879,-0.4888,-3.6133,10.8112,14.5239,-20.4520

In [37]:
X_train1.describe()

AttributeError: ignored

In [0]:
sc = StandardScaler()

In [0]:
X_train1 = sc.fit_transform(X_train)
X_test1 = sc.transform(X_test)

In [0]:
import lightgbm as lgb

In [0]:
d_train = lgb.Dataset(X_train1,y_train)

In [0]:
## Best Iteration

In [0]:
params = {}
params['learning_rate'] = 0.01
params['boosting_type'] = 'gbdt'
params['objective'] = 'binary'
params['metric'] = 'binary_error'
params['n_thread'] = 3
params['num_leaves'] = 32
params['subsample_for_bin'] = 200
params['bagging_fraction'] = 0.75
params['bagging_freq'] = 1
params['colsample_bytree'] = 0.8
params['reg_alpha'] = 3
params['reg_lambda'] = 6
params['min_split_gain'] = 0.5
params['min_child_weight'] = 1
params['min_child_samples'] = 5
params['scale_pause_weight'] = 1
params['num_class'] =1
params['max_depth'] = 9
params['min_data_in_leaf']=1875
clf = lgb.train(params, d_train, 2000)

In [0]:
#Prediction
y_pred=clf.predict(X_test1,num_iteration = clf.best_iteration)

In [79]:
fpr, tpr, thresholds = metrics.roc_curve(y_test, y_pred, pos_label=None)
metrics.auc(fpr,tpr)

0.8877499522451267

In [0]:
#convert into binary values
for i in range(0,len(customers_w)):
    if y_pred[i]>=0.1:   
       y_pred[i]=1
       
    else:  
       y_pred[i]=0

In [0]:
customers_w = customers.loc[:, customers.columns != 'ID_code']

In [0]:
customers_w.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,8.8100,...,-2.1556,11.8495,-1.4300,2.4508,13.7112,2.4669,4.3654,10.7200,15.4722,-8.7197
1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,5.9739,...,10.6165,8.8349,0.9403,10.1282,15.5765,0.4773,-1.4852,9.8714,19.1293,-20.9760
2,5.4827,-10.3581,10.1407,7.0479,10.2628,9.8052,4.8950,20.2537,1.5233,8.3442,...,-0.7484,10.9935,1.9803,2.1800,12.9813,2.1281,-7.1086,7.0618,19.8956,-23.1794
3,8.5374,-1.3222,12.0220,6.5749,8.8458,3.1744,4.9397,20.5660,3.3755,7.4578,...,9.5702,9.0766,1.6580,3.5813,15.1874,3.1656,3.9567,9.2295,13.0168,-4.2108
4,11.7058,-0.1327,14.1295,7.7506,9.1035,-8.5848,6.8595,10.6048,2.9890,7.1437,...,4.2259,9.1723,1.2835,3.3778,19.5542,-0.2860,-5.1612,7.2882,13.9260,-9.1846

In [0]:
#Submission Prediction
y_pred=clf.predict(customers_w)

In [0]:
#convert into binary values
for i in range(0,len(customers_w)):
    if y_pred[i]>=.5:      
       y_pred[i]=1
    else:  
       y_pred[i]=0

In [0]:
from sklearn.metrics import confusion_matrix

In [0]:
cm = confusion_matrix(y_test,y_pred)

In [0]:
cm

array([[53201,   711],
       [ 4461,  1627]], dtype=int64)

In [0]:
fpr, tpr, thresholds = metrics.roc_curve(y_test, y_pred, pos_label=None)

In [0]:
metrics.auc(fpr, tpr)

0.6270294424417541

In [0]:
## To check the values in the outcome of test data

sub2_df = pd.DataFrame({"Check":y_pred})

In [0]:
sub2_df.Check.value_counts()

0.0    111811
1.0     88189
Name: Check, dtype: int64

In [0]:
sub_df = pd.DataFrame({"ID_code": test_data["ID_code"].values})

In [0]:
sub_df['Target'] = y_pred

In [58]:
sub_df.head(n=10)

  ID_code    Target
0  test_0  0.881119
1  test_1  0.762464
2  test_2  0.829372
3  test_3  0.848873
4  test_4  0.847817
5  test_5  0.768867
6  test_6  0.753833
7  test_7  0.868398
8  test_8  0.646610
9  test_9  0.548871

In [59]:
y_pred.min()

0.3747507297875012

In [0]:
from sklearn.metrics import confusion_matrix

In [0]:
cm = confusion_matrix(y_test,y_pred)
cm

array([[36680,  8224],
       [ 1305,  3791]])

In [0]:
## Excel

sub_df.to_csv('Submission_4',sep = ',')

In [0]:
### Let us try random forest model